body{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    width: 400px;
    padding: 30px;
}

#pokemonDisplay img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 15px;
}

#moveSelectors select{
    display: block;
    margin: 8px auto;
    padding: 5px;
}

.team-card{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 12px auto;
    width: 250px;
    border-radius: 8px;
}