* {
    font-family: "Times New Roman", Times, serif;
}

.header h1 {
    margin-bottom: 0.3em;
}
.header {
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    color: #000000;
    clear: both; 
}

.no-bullets {
    list-style-type: none;
}

hr {
    display: block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}